
body { 
    front-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0,1);

}
input, button {
    width: 90%;
    margin: 10px auto;
    padding:10px;
    font-size: 16px;
}

button {
    background-color: #0066cc;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #004999;
}
